<div id=jobs-refresher> 
  {% include 'menu.html' %}
  <div id="view">
    <table>
      <caption>Jobs:<caption>
      <tr class='header'>
        <th>ID</th>
        <th>Name</th>
        <th>User</th>
        <th>State</th>
        <th class="ra">Run time</th>
        <th>Nodes (Cores)</th>
      </tr>
      {% for jid in data %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
          <td>{{ jid }}</td>
          <td>{{ data[jid]['name'] }} 
          <td>{{ data[jid]['login'] }}</td>
          <td>{{ data[jid]['job_state'] }}</td>
          <td class="ra">{{ data[jid]['run_time_str'] }}</td>
          <td>
            {% if data[jid]['cpus_allocated'] %}
            {{data[jid]['cpus_allocated'][0]}} ({{ data[jid]['cpus_allocated'][1] }})
            {% else %}
            {{data[jid]['cpus_requested'][0]}} ({{ data[jid]['cpus_requested'][1] }})
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
  </div>
  <div hx-get="jobs"
     hx-trigger="every 60s"
     hx-swap="#jobs-refresher"></div>
</div>

