<div id=nodes-refresher> 
  {% include 'menu.html' %}
  <div id="view">
    <div id="racks">
    {% set blades = False %}
    {% for nid, node in nodes | dictsort if nid.startswith('bl') %}
      {% set blades = True %}
      {% if loop.index0 % 10 == 0 %}
        {% if loop.index0 > 0 %}
          </div>
        {% endif %}
        <div class="rack">
        <div class="rack_name">Blade {{ (loop.index // 10) + 1 }} </div>
      {% endif %}
      {% set node_type = 'blade' %}
      {% include 'node.html' %}
    {% endfor %}
    {% if blades %}
      </div>
    {% endif %}
    <div class="rack">
    <div class="rack_name">Rack 1</div>    
    {% for nid, node in nodes | dictsort if nid.startswith('h') %}
      {% set node_type = 'small' %}
      {% include 'node.html' %}
    {% endfor %}
    </div>
    </div>
  <div class='joblist'>
    <table>
      <caption>Assigned jobs:<caption>
      <tr class='header'>
        <th width=20>&nbsp;</th>
        <th>ID</th>
        <th>User</th>
        <th>Name</th>
        <th>State</th>
        <th class="ra">Run time</th>
        <th>Nodes (Cores)</th>
      </tr>
      {% for jid, job in jobs.items() %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
        <td style="background-color:{{ colors[jid] }};">&nbsp;</td>
        <td>{{ jid }}</td>
        <td>{{ job['login'] }}</td>
        <td>{{ job['name'] }}</td>
        <td>{{ job['job_state'] }}</td>
        <td class="ra">{{ job['run_time_str'] }}</td>
        <td>
          {% if job['cpus_allocated'] %}
            {{job['cpus_allocated'][0]}} ({{ job['cpus_allocated'][1] }})
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  </div>
  <div hx-get="nodes"
     hx-trigger="every 15s"
     hx-swap="#nodes-refresher">
  </div>
</div>

