<div class="{{ node_type ~ '_node' ~ ' ' ~ node['state'].replace('+',' ') }}">
<div class="LED"></div>
<div class="name">{{nid}}
  <meter min="0" max="100" value="{{ node['load'] }}"></meter>
</div>
<div class="cores">
  {% for s in range(node['sockets']) %}
    {% for c in range(node['cores']) %}
      {% if nid in assoc and (s,c) in assoc[nid] %}
      <div class="alloc" 
           style="background-color:{{ colors[assoc[nid][(s,c)]] }};" 
           title="Job:{{ assoc[nid][(s,c)] }}"></div>
      {% else %}
      <div class="free"></div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
</div>
